<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bakery Store</title>
</head>
<body>
    <div>
        @RenderBody() @*Content from other files will be dynamically rendered here.*@
    </div>
</body>
</html>
