<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bakery Store</title>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
    @*<script src="~/lib/jquery/jquery.js"></script>*@
    @*<script src="~/lib/bootstrap/js/bootstrap.js"></script>*@
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/custom.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Bakery shop navigation header">

                <a class="navbar-left navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="images/logo-typographic.png" height="50" alt="Bakery Shop Logo" fill="">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2">
                       @*<li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Product" asp-action="List" class="nav-link">Products</a>
                        </li>*@
                        <vc:category-menu></vc:category-menu>
                        <li class="nav-item">
                            <a asp-controller="Contact" asp-action="Index" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <vc:basket-summary></vc:basket-summary> @*A view component is like a partial view but more powerful. Reads from 'Components' folders.*@
                </div>
            </nav>
        </header>
        @RenderBody()
    </div>
</body>
</html>