@model Order

<form asp-action="Checkout" method="POST" role="form"> @* This form should do a POST to the Checkout method in the Order controller. *@
    <h3 class="my-5">
        You're just one step away...
    </h3>

    <div class="col-6">

        <div class="col-12">
            <label asp-for="FirstName" class="form-label">First name</label> @* The inbuilt asp-for tag helper points to the FirstName property on our Order model *@
            <input asp-for="FirstName" class="form-control" />
        </div>

        <div class="col-12">
            <label asp-for="LastName" class="form-label">Last name</label>
            <input asp-for="LastName" class="form-control" />
        </div>
            
        <div class="col-12">
            <label asp-for="AddressLine1" class="form-label">Address line 1</label>
            <input asp-for="AddressLine1" class="form-control"/>
        </div>
            
        <div class="col-12">
            <label asp-for="AddressLine2" class="form-label">Address line 2</label>
            <input asp-for="AddressLine2" class="form-control" />
        </div>
            
        <div class="col-6">
            <label asp-for="Town" class="form-label">Town / city</label>
            <input asp-for="Town" class="form-control" />
        </div>
            
        <div class="col-6">
            <label asp-for="Postcode" class="form-label"></label>
            <input asp-for="Postcode" class="form-control" />
        </div>
            
        <div class="col-6">
            <label asp-for="Country" class="form-label">Country</label> @* Make dropdown *@
            <input asp-for="Country" class="form-control" />
        </div>
            
        <div class="col-12">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control"/>
        </div>
            
        <div class="col-12">
            <label asp-for="PhoneNumber" class="form-label">Phone number</label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>

        <div class="mt-2">
            <div class="col-md-5">
                <input type="submit" class="btn btn-secondary" value="Complete order" />
            </div>
        </div>

    </div>
</form>





