.card-img-top { /* Make images same size (zoom, not stretch) */
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.logo-centre {
    position: relative;
    top: -4rem;
    margin-bottom: -4rem;
}